.sqr_box{
    display: block;
    overflow: hidden;

    height: 100px ;
    width: 100px ;
    background-color: yellow;

    /* ye kewal "width" ko 3-second lekarke change karega. */
    /* transition: width 3s  ; */

    /* ye kewal "height" ko 5-second lekarke change karega. */
    /* transition: height 5s ; */

    /* ye "width" ko 3-secount aur "height" ko 5-second lekarke change karega. */
    /* transition: width 3s , height 5s ; */

    /* Ye "height" , "width" aur "color" teeno kohi 3second me change karega. */
    transition: all 2s ;

    transition-timing-function: ease ; /* ___ */
    transition-timing-function: ease-in ; /* ___ */
    transition-timing-function: ease-in-out ; /* ___ */
    transition-timing-function: ease-out ; /* |___ */

    transition-delay: 2s ; /* 3second ke baad me "transition" , start hoga . */
}


.sqr_box:hover{
    width: 200px ;
    height: 200px ;
    background-color: rgb(189, 127, 247);
}