.Inline{
    /* This will converts the by_default 'display-block' of 'p-tag' into 'display-inline'. */

    display: inline;
}

span{
    /* This will converts the by_default 'display-inline' of 'span-tag' into 'display-block'. */

    display: block;
}

.In-Blck{
    /* This will convert the by_default 'display-block' behaviour of 'p-tag' into 'display-Inline'. */
    color: red;
    display: inline-block;
    width: 100px;
    height: 150px;
    border: 2px solid yellowgreen;

}

.dis_non{
    /* Display:none; ==> Is property ko apply karnese hamara content website(web..) se gayab hogata hai. */
    display: none;
}

