            /* (1).Universal selector(*) */
*{
    margin: 0px;
    padding: 0px;
    background-color: brown;
}

            /* (2).Elemen selector  */
span{
    font-size: 25px;
    background-color: yellowgreen;
}

            /* (3).Class selector: */
/* 
NOTE: hamlog ek tag ko ek se jyada classes de sakten hai.Kisi bhi tag ko ek se jyada classe dete keliye space ka use kiya jata hai.
e.x :- <p class="para p"> </p>
*/
.para{
    background-color: black;
    color: darkgoldenrod;
}
.p{
    font-family: monospace;
    font-size: xx-large;
}

            /* (4).Id Selector */
/* 
    NOTE : Ek css ke andar Id unique honi chahiye.(Yaniki ek 'id' hmlog kwal ek hi tag ko de sakten hai , same is ko humlog ek se jyada tags ko nahi dena chahiye kyuki Id should be unique.)
*/
#txt{
    background-color: blue;
    color: aliceblue;
    font-size: 39px;
}

            /* (5).Selector list */
/*
    NOTE: to use more than one selectors at a time we use 'Selector List' selector list me humlog Class , Id , tag-name ko comma(,) se saparate karke {
        Selector list CSS yanha likho
    }
    apply kardeten hai.
*/
.p , #txt , span {
    font-weight: bolder;
}
